@{
    ViewData["Title"] = "About Us";
}

@* Head tag *@
<head>
    <!--
        Adding a stylesheet to the document.
    -->
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body>

       
    <div class="container mt-4">

        <!-- H1 Tag -->
        <h1>About Our Plate Company</h1>
        @* Image linked inside.. *@
       S
        <img src="/img/plates3.jpg" alt="Plates">
        

  
        <p>
            Welcome to Our Plate Company, the leading provider of premium quality
            plates that are both functional and aesthetically pleasing. We offer
            a wide selection of plates to meet the diverse needs of our customers,
            from traditional ceramic plates to modern and unique designs.
        </p>

     

        <p>
            At Our Plate Company, we believe that a beautiful plate can enhance
            the dining experience and make any meal more enjoyable. Our plates 
            are carefully curated to ensure that they meet our high standards of
            quality, design, and functionality. We are committed to providing the
            best products and service to our customers, and we strive to exceed
            your expectations with every purchase.
        </p>

        @* h2 Tag *@
        <h2>Our Company</h2>
        <p>Our Plate Company was founded in 2005 by a group of passionate 
            individuals who shared a common goal of providing high-quality 
            plates to customers around the world. Since then, we have grown 
            into a leading provider of dinnerware, serving customers across
            the globe with our innovative designs and superior quality products.
        </p>


        <h2>Our Corporate Headquarters</h2>
        <p>Our corporate headquarters are located in the heart of the city, 
            where our team works tirelessly to ensure that every order is
            processed quickly and accurately. Our office is equipped with 
            the latest technology and equipment to ensure that our team can
            work efficiently and effectively.
        
        </p>

        <h2>Our Staff</h2>

        <p>Our team is made up of a diverse group of individuals who share a
            passion for plates. From our warehouse staff to our customer service
            representatives, everyone on our team is dedicated to providing the
            best possible service to our customers. Our team members are highly
            skilled and experienced, and they work together to ensure that we 
            provide the best possible products and service to our customers.
        </p>

   

        <h2>Our Products</h2>

        <p>Our website features a wide variety of plates, from traditional
            ceramic to modern and unique designs. We carefully curate each 
            product to ensure that it meets our high standards of quality
            and design.
        </p>



        </div>
        @* div closes and body closes.. *@
        </body>
