@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>



<body>
    <div class="text-center">
        <h1 class="display-4">Hello,</h1>

    </div>

    <div class="container my-5">
        <h1 class="text-center mb-5">Welcome to Plates</h1>
        <p>At Plates, we are passionate about bringing you delicious food made from the freshest ingredients. Our menu features a variety of dishes to suit every taste, from classic comfort food to international flavors. Whether you're in the mood for a hearty breakfast, a light lunch, or a satisfying dinner, we have something for everyone.</p>

        <p>Our team of experienced chefs takes pride in creating dishes that not only taste great, but also look beautiful. We believe that presentation is just as important as flavor, and we take the time to make sure every dish is a feast for the eyes as well as the palate.</p>

        <p>So come in and join us for a meal today. We look forward to serving you!</p>


    </div>

    

</body>