@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@* Head tag *@


<head>
    @* Linking the sty;esheet to it. *@


    <link href="~/css/style.css" rel="stylesheet" />
</head>


@* Body Tag Opens.. *@

 
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 text-center">
                <h1 class="mb-4">PlateArt Privacy Policy</h1>
                <p class="lead mb-4">We take your privacy seriously at PlateArt, and we want you to feel confident and secure when using our website. This Privacy Policy outlines how we collect, use, and protect your personal information.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">

                @* Introduced Class Brown, in order for me to be able to c=make changes with CSS better. *@


                <h3 class=" brown">What information do we collect?</h3>
                <p>We may collect personal information from you, such as your name, email address, mailing address, and phone number, when you place an order with us or sign up for our email newsletter. We may also collect information about your use of our website, such as the pages you visit and the links you click.</p>
                <h3 class=" brown">How do we use your information?</h3>
                <p>We use your personal information to process and fulfill your orders, to communicate with you about your orders or other inquiries, and to send you promotional offers and other marketing communications that may be of interest to you. We may also use your information to improve our products and services and to customize your experience on our website.</p>
                <h3 class=" brown">How do we protect your information?</h3>
                <p>We take the security of your personal information very seriously and have implemented a range of technical and organizational measures to protect it. This includes using secure servers and encryption technology to ensure that your personal information is kept safe and secure.</p>
                <h3 class=" brown">Do we share your information with third parties?</h3>
                <p>We do not sell, rent, or otherwise share your personal information with third parties, except as necessary to fulfill your orders or as required by law. We may share your information with our trusted partners and service providers who help us provide our products and services, but only to the extent necessary to perform those services.</p>
                <h3 class=" brown">Your rights</h3>
                <p>You have the right to access and modify your personal information, as well as the right to request that we delete your information. You can do this by contacting us at privacy@plateart.com.</p>
                <h3 class=" brown">Changes to this policy</h3>
                <p>We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to review this page periodically to stay informed about our privacy practices.</p>
            </div>
        </div>
    </div>

   
</body>

                @* Body Tag Closes.. *@